extends layout

block content
  ul
    each val in result
      li: a(href='./environment/' + val.id) #{val.name}

block sidebar
  .widget
    h1= subtitle
    p= info
    p Environments stored in database.
    p